
.settings
.metadata
.checkstyle
bin
target
.pmd
.ruleset
.springBeans
eclipsebin

.class
*.zip
*.jar
*.gz
*.bak
.log
*.box
.idea
gensrc
*.iml
.DS_Store
.vlt*
*.swp
*~
*.orig


classes
testclasses

platformhome.properties
endpoint.properties

hybris-ext/custom-ext/fglcore/build.xml
hybris-ext/custom-ext/fglcore/extensioninfo.xsd
hybris-ext/custom-ext/fglcore/resources/items.xsd
hybris-ext/custom-ext/fglfacades/build.xml
hybris-ext/custom-ext/fglfacades/extensioninfo.xsd
hybris-ext/custom-ext/fglfacades/resources/items.xsd
hybris-ext/custom-ext/fglimport/build.xml
hybris-ext/custom-ext/fglimport/extensioninfo.xsd
hybris-ext/custom-ext/fglimport/resources/items.xsd
hybris-ext/custom-ext/fglservices/build.xml
hybris-ext/custom-ext/fglservices/extensioninfo.xsd
hybris-ext/custom-ext/fglservices/resources/items.xsd
cq/atlassian-ide-plugin.xml
utils/ctfs-mock-client/gsrc/
.sonar
.gradle
.vagrant
*.log
hmc.xsd
cq/sportchek-view/src/main/content/jcr_root/etc/clientlibs/sportchek/global/.sass-cache/
